---
import { text } from "../../language/text";
import Layout from "../../layouts/Layout.astro";
import { Heading } from "@navikt/ds-react";
import type { Language } from "../../language/language";
import AstroIsland from "@src/components/astro-island/AstroIsland.astro";

const language = Astro.currentLocale as Language;
---

<Layout>
  <div>
    <div>
      <Heading size={"large"}>
        {text.title[language]}
      </Heading>
    </div>
  </div>
  <AstroIsland server:defer>
    <div slot="fallback">Laster inn...</div>
  </AstroIsland>
</Layout>
